.Comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-width: 15em;
  max-width: 80em;
  margin-left: 25%;
  margin-right: 30%;
  margin-top: 10px;
  border: 0.5px solid #833939;
  font-family: "Quicksand";
  font-size: 100%;
  color: black;
  padding: 5px;
  border-radius: 0.9em;
}

.Commentbutton {
  text-align: center;
  --c: #833939;
  font-size: 15px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: auto;
  height: auto;
  font-weight: bold;
  font-family: Quicksand;
  background-color: white;
  letter-spacing: 0.1em;
  margin: auto;
  padding: auto;
}

.Commentbutton {
  color: black;
}

.commentadder {
  margin: 2%;
}

.commentadder button {
  border: 1.5px solid #833939;
  width: auto;
  height: auto;
  padding: 0.3%;
  background-color: white;
  font-family: "Quicksand";
  font-size: 90%;
  border-radius: 0.3em;
}

.commentadder p {
  color: #6f6155;
  font-family: "Quicksand";
  font-size: 10px;
}

.Commentbox {
  display: ruby-text;
  font-family: "Quicksand";
  font-size: 15px;
  background-color: white;
  height: 25px;
  width: 200px;
  margin-right: 1%;
  border: 0.5px solid #6f6155;
  text-align: center;
  text-align: justify;
  border-radius: 0.3em;
}
