.Comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: auto;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 0.5px solid #833939;
  font-family: "Quicksand";
  font-size: 15px;
  color: black;
  padding: 5px;
  border-radius: 0.9em;
}

.Commentbutton {
  text-align: center;
  --c: #833939;
  font-size: 15px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: auto;
  height: auto;
  font-weight: bold;
  font-family: Quicksand;
  background-color: white;
  letter-spacing: 0.1em;
  margin: auto;
  padding: auto;
}

.Commentbutton {
  color: black;
}

.commentadder {
  margin: 5%;
}
