.Topicslist h2 {
  color: black;
  font-family: "Quicksand";
  font-size: 20px;
  margin-top: 2%;
}

.Topicslist p {
  color: black;
  font-family: "Quicksand";
  margin-left: 10%;
  margin-right: 10%;
}

.Topicslist li {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  padding: 5px;
  border: 5px solid #833939;
  /* background-color: #f3d8d8; */
  font-family: "Quicksand";
  color: black;
  /* opacity: 0.8; */
}
